
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e5e7eb;
    background-color: #ffffff;
}

.title {
    display: inherit;
    align-items: center;
    gap: 10px;
}

.btnAdd {
    border-radius: 8px;
    padding: 2px;
}

.modal {
    display: flex;
    flex-direction: column;
}

.allTask {
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 6px;
    height: 100vw;
}

.modal form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 6px;
    gap: 10px;
}

.modal form div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal form input {
    padding: 6px;
}

.modal form div input {
    height: 31px;
}

.modal button {
    padding: 6px;
    margin: 10px;
}

.modal form div button {
    width: 100%;
}

